* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 150px;
}
.header-title {
  display: flex;
  align-items: center;
}
.header-title img {
  width: 100px;
  object-fit: cover;
}
.header-title h3 {
  color: #0b0223;
  font-size: 45px;
  font-weight: 700;
  margin-left: 10px;
}
.menu-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}
.menu-item > li > a {
  text-decoration: none;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}
.follow-us {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 20px;
}
.follow-us > p {
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}


/* Responsive CSS */
/* For Mobile */
@media screen and (max-width: 576px){
    .nav-container {
        flex-direction: column;
        width:100%
    }
    .header-title{
        margin: 50px auto;
    }
    .menu-item{
        flex-direction: column;
    }
}