* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
/* Nav CSS */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 150px;
}
.header-title {
  display: flex;
  align-items: center;
}
.header-title img {
  width: 100px;
  object-fit: cover;
}
.header-title h3 {
  color: #0b0223;
  font-size: 45px;
  font-weight: 700;
  margin-left: 10px;
}
.menu-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}
.menu-item > li > a {
  text-decoration: none;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}
.follow-us {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 20px;
}
.follow-us > p {
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}
/* Banner CSS */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content-wrapper {
  width: 100%;
  /* padding: 100px 110px 100px 150px; */
  background-image: url(./images/group14.png);
  background-size: 100%;
}
.banner-content {
  padding: 100px 110px 0px 150px;
}
.banner-content h3 {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
}
.banner-content h1 {
  font-size: 95px;
  font-style: normal;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-content p {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}
.banner-btn {
  margin: 50px 0;
  padding: 0px 0px 0px 150px;
}
.banner-btn .sign-in {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  border-radius: 48px;
  background: #ff42a5;
}
.banner-btn .go-rogue {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  border-radius: 48px;
  background: #4ec5f7;
  margin-left: 10px;
}
.banner-img {
  width: 100%;
  margin-right: 150px;
}
.banner-img img {
  width: 100%;
}
/* We Are Gamer Section CSS */
.gamer-container {
  padding: 50px 150px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  margin-top: -4px;
}
.gamer-img {
  width: 50%;
}
.gamer-img img {
  width: 100%;
}
.gamer-content {
  width: 50%;
}
.gamer-content h3 {
  text-align: right;
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gamer-content p {
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  padding: 20px 0;
}
.gamer-content-btn {
  display: flex;
  flex-direction: row-reverse;
  padding: 5px 0;
}
.gamer-content-btn .btn {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 48px;
  background-color: #ff42a5;
  border: none;
  padding: 20px;
}
.gamer-content .unleash-paragraph {
  color: #534c64;
  font-size: 24px;
  font-weight: 700;
}

/* Online Games CSS */
.online-container {
  margin: 100px 0px;
}
.online-container h3 {
  text-align: center;
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}
.funny-video {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}
.online-container p {
  text-align: center;
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.card-container {
  margin: 0 150px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.card-container .single-card img {
  width: 100%;
}
.card-container .single-card p {
  text-align: left;
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
}

/* Play Section */
.play-container {
  margin: 0px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}
.play-content {
  width: 28%;
  padding: 100px 0px;
}
.play-content h3 {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
  text-align: right;
  margin-bottom: 0px;
}
.play-instantly {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-content p {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  text-align: right;
}
.play-img {
  width: 50%;
  position: relative;
  margin-bottom: 150px;
}
.play-img img {
  width: 100%;
}
.play-img-inside {
  width: 50%;
  position: absolute;
  bottom: -100px;
  left: -100px;
}
/* More Games CSS */
.more-games {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  padding: 50px 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}
.single-game {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 40px;
  width: 18%;
  gap: 5px;
  padding: 4px;
}
.single-game:hover {
  border: 1px solid #f948b2;
  color: #f948b2;
}
.single-game img {
  width: 50px;
  height: 50px;
}
.single-game p {
  color: #0b0223;
  font-size: 16px;
  font-weight: 600;
}
/* Responsive CSS */
/* For Mobile */
@media screen and (max-width: 576px) {
  /* Nav */
  .nav-container {
    flex-direction: column;
    margin: 50px auto;
    width: 100%;
    text-align: center;
  }
  .header-title {
    margin: 50px auto;
  }
  .menu-item {
    flex-direction: column;
  }

  /* Banner */
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-content {
    width: 100%;
    padding: 10px;
    margin: 50px;
  }
  .banner-content h1 {
    font-size: 80px;
  }
  .banner-img {
    width: 100%;
    padding: 10px;
    margin: 50px;
  }
  .banner-btn {
    padding-left: 50px;
  }
  /* We Are Gamer Section*/
  .gamer-container {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .gamer-img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .gamer-content {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .gamer-container h3 {
    text-align: center;
  }
  .gamer-container p {
    text-align: center;
  }
  .gamer-container .gamer-content-btn {
    justify-content: center;
  }

  /* Online Section */
  .online-container {
    width: 100%;
  }
  .card-container {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }
  .single-card {
    width: 100%;
  }
  .card-container .single-card img {
    width: 100%;
  }
  /* Play Section */
  .play-container {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
  }
  .play-content {
    width: 100%;
    padding: 0px;
  }
  .play-content h3 {
    text-align: center;
  }
  .play-content p {
    text-align: center;
  }
  .play-img {
    margin-top: 30px;
    width: 75%;
    margin-left: 100px;
  }
  .play-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .play-img-inside {
    width: 40%;
    position: absolute;
    bottom: -60px;
    left: -60px;
  }
  /* More Games CSS */
  .more-games {
    margin: 0;
    padding: 0;
  }
  .single-game {
    width: 30%;
  }
  .single-game p {
    font-size: 16px;
  }
  .single-game img {
    width: 30px;
    height: 30px;
  }
}

/* For Tablet */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .nav-container {
    flex-direction: column;
    margin: 50px auto;
    width: 100%;
    text-align: center;
  }
  .header-title {
    margin: 50px auto;
  }
  .menu-item {
    flex-direction: column;
  }
  /* Banner */
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-content {
    width: 100%;
    padding: 10px;
    margin: 50px;
  }
  .banner-img {
    width: 100%;
    padding: 10px;
    margin: 50px;
  }
  .banner-btn {
    padding-left: 50px;
  }

  /* We Are Gamer Section*/
  .gamer-container {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .gamer-img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .gamer-content {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .gamer-container h3 {
    text-align: center;
  }
  .gamer-container p {
    text-align: center;
  }
  .gamer-container .gamer-content-btn {
    justify-content: center;
  }
  /* Online Section */
  .online-container {
    width: 100%;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    width: 100%;
  }
  .single-card {
    width: 100%;
  }
  .card-container .single-card img {
    width: 100%;
  }
  /* Play Section */
  .play-container {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
  }
  .play-content {
    width: 100%;
    padding: 0px;
  }
  .play-content h3 {
    text-align: center;
  }
  .play-content p {
    text-align: center;
  }
  .play-img {
    margin-top: 30px;
    width: 75%;
    margin-left: 100px;
  }
  .play-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .play-img-inside {
    width: 40%;
    position: absolute;
    bottom: -60px;
    left: -60px;
  }
  /* More Games CSS */
  .more-games {
    margin: 0;
    padding: 0;
  }
  .single-game {
    width: 30%;
  }
  .single-game p {
    font-size: 16px;
  }
  .single-game img {
    width: 30px;
    height: 30px;
  }
}
